.bg{
    height: 100vh;
    display: flex;
    align-items: center;
    color:#fff;
}
.img
{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
li{
	display: inline;
	padding: 30px;
	color: white;
}

.videoo{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    overflow: hidden; 
}
.videoo video{
    min-width: 100%;
    min-height: 100%;
}
.overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image:url("analytics-cellphone-charts-147408.jpg");
    height:102.8%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: 1;
    opacity: 0.75;
}
.overlay_1{
    z-index:2;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5)
}
